<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Main tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <!-- Title -->
    <title>Blazeee</title>
    <!-- Meta Tags-->
    <meta name="description" content="Blazeee: Full-Stack solution for rapid development.">
    <meta name="author" content="Petr Nikolas">
    <meta http-equiv="Content-language" content="en">
    <meta name='reply-to' content='hello@petrnikolas.com'>
    <meta name='url' content=''>
    <meta name='identifier-URL' content=''>
    <!-- OG Meta tags -->
    <meta property="og:title" content="Blazeee">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Blazeee: Full-Stack solution for rapid development.">
    <meta property="og:site_name" content="">
    <!-- Twitter Meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Blazeee">
    <meta name="twitter:description" content="Blazeee: Full-Stack solution for rapid development.">
    <meta name="twitter:image" content="">
    <!-- MS Application -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="">
    <!-- Favicon -->
    <!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
    <!-- CSS -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <!-- JS -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
